body {
	margin:0px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
header > div {
	text-align: center;
	border:1px solid black;
	margin-top:40px;
	margin-bottom:40px;
	font-size: 200%;
}

.menu {
	border:1px solid pink;
	display: table;
}

.cousine {
	border:2px solid black;
	text-align: center;
	background-color:darkgray;
	margin-left:10px;
	margin-right:0px;
	box-sizing: border-box;
	width: 32%;
	float:left;


}

.name {
	background-color: pink;
	text-align: center;
	border-left:2px solid black;
	border-bottom:2px solid black;
	margin:0px;
	width:40%;
	float:right;
	clear: both;
	font-size: 1.25em;
}

.position {
	clear:right;
	font-size: 0.8em;
}