* {
	box-sizing: border-box;
}


.col-md-6, .col-md-12 {
	float: left;
	border: 1px solid black;
	width: 33.33%;

}


h1 {
	text-align: center;
	margin-bottom: 45px;
}

p {
	width: 95%;
	border: 1px solid red;
	margin-right: auto;
	margin-left: auto;
}

.inner {
	background-color: darkgray;
	width: 45%
	border: 1px solid purple;
	margin-right: auto;
	margin-left: auto;
	height: 300px;
}

.row {
	width: 100%;
}



@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6 {
		width: 50%;
	}

	.col-md-12 {
		width:100%;
	}
}

@media (max-width:767px) {
	.col-md-6 {
		width: 100%;
	}
	.col-md-12 {
		width:100%;
	}
}