body {
	margin:0px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
header > div {
	text-align: center;
	border:1px solid black;
	margin-top:40px;
	margin-bottom:40px;
	font-size: 200%;
}

.menu {
	border:1px solid black;
	margin-top: 10px;
	margin-bottom: 10px;
}

.cousine {
	box-sizing: border-box;
	border:1px solid pink;
	display: inline-block;
	width: 32%;
	text-align: center;
	background-color:darkgray;
}

.name {
	background-color: darkpink;
}

footer {
	border:1px solid black;
}