body {
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	
}

h2 {
	margin-top:80px;
	margin-bottom:40px;
	font-size: 2em;
	font-weight: bold;
}



.navbar {
	background-color: #d9d9d9;
    border-radius: 0px;
    width: 100%;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-left: 0px;
    border-right: 0px;
    color: black;
}

.navbar-brand > span{
	font-size: 1.5em;
	color: black;
	font-weight: bold;
}


#my-navbar-collapse span {
	color: black;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: black;
}

#nav-list {
	margin-top: 0px;
	margin-bottom: 0px;
}
.navbar-header button.navbar-toggle {
  border: 1px solid black;
}

.navbar-header .icon-bar {
	border: 2px solid black;
}

#my-navbar-collapse a {
	border-bottom: 2px solid black;
	padding-top: 8px;
	padding-bottom: 8px;
}

#my-navbar-collapse #a3 {
	border-bottom: 0px;
}


/* END HEADER */
.tall-section {
	text-align: center;
}

/*MAIN PAGE*/
h3 {
	font-size: 1.3em;
	font-weight: bold;
	margin-top: 5px;
}

.background {
	border-radius: 4px;
	background-color: #e4e2e2;
	margin-top: 25px;
}

.foodname {
	padding-top:1px;
}

@media (max-width: 767px) {
	nav.container {
		height: 40px;
	}
	.navbar-toggle {
		margin-top: 4px;
		margin-bottom: 4px;
	}

	.navbar-brand > span{
	font-size: 1.2em;
	}

	h2 {
		margin-bottom: 20px;
	}
	div#my-navbar-collapse {
	border-top:2px solid black;
	}
	#my-navbar-collapse {
	background-color: white;
	}

	.tall-section {
		padding-left:30px;
		padding-right: 30px;
	}

	#my-navbar-collapse li:hover {
		background-color: lightgray;
	}
}

